{% extends 'base.html' %}

{% block styles %}{% endblock %}

{% block title %}Where's My Restaurant? | 404 NOT FOUND{% endblock %}

{% block content %}
    <div class="container-fluid mt-4 pt-4">
        <div class="row m-4">
            <div class="col-8 offset-2 mt-4">
                <div class="row mb-2">
                    <h2 class="fw-bolder text-center">404 Page Not Found</h2>
                </div>
                <div class="row"><hr class="divider"></div>
                <div class="row mb-2">
                    <h4 class="text-muted text-center">
                        <p>{{ messages }}</p>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}{% endblock %}