{% extends 'base.html' %}

{% block styles %}{% endblock %}

{% block title %}Where's My Restaurant? | Home{% endblock %}

{% block content %}
    <div class="container-fluid mt-4 pt-4">
        <div class="row m-4">
            <div class="col-8 offset-2 mt-4">
                <div class="row mb-2">
                    <h2 class="text-center">Are you looking for a restaurant?</h2>
                </div>
                <div class="row"><hr class="divider"></div>
                <div class="row mb-2">
                    <h4 class="text-muted text-center">
                        <p>Great! This web application help you find your perfect restaurant.</p>
                        <p>There are many types of restaurants registered on our site.</p>
                        <p>Do you like tacos? Would you like a pizza? What about pasta?</p>
                        <p>Well, there are many options you can choose and enjoy</p>
                        <p>What are you waiting for?</p>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}{% endblock %}